/* Reset some default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    font-family: "Montserrat", sans-serif;
}

/* Header */
header {
    background-color: #3399ff;
    background: #2a9b4a;
    background: linear-gradient(90deg, rgba(42, 155, 74, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

header h1 {
    margin-bottom: 1rem;
}

header p {
    max-width: 700px;
    margin: 0.5rem auto;
}

/* Main layout */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
}

/* Image section */
.image-container {
    text-align: center;
    margin-bottom: 1.5rem;
}

.image-container img {
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
    border: 4px solid #2c3e50;
}

/* List styles */
ul {
    list-style-type: disc;
    padding-left: 2rem;
}

li {
    margin-bottom: 0.75rem;
}

/* Button styles */

button {
    background-color: #57C785;
    padding: 2em;
    display: block;
    margin: 2rem auto;
    border: 0;
    border-radius: 2px;
    font-weight:bold; 
    font-size: 1rem; 
    color: #fff; 
}

section h2 {
    text-align: center;
    padding-top: 2rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #DB6832;
    color: #ffffff;
    margin-top: 2rem;
    font-size: 0.9rem;
}