:root{
--primary-color:rgb(217, 246, 212);
--secondary-color: rgb(0, 255, 242);

--spacing-md: 1.5rem;
}

body{
font-family: Arial;
font-size: 1rem;
background-color: var(--primary-color);
margin: var(--spacing-md)

}

nav ul{
     display: flex;
     list-style: none;
     gap: var(--spacing-md);
     font-size: 1.8rem;
     margin: 1rem;
     padding: 1rem;
     box-sizing: border-box;
}

a{
     text-decoration: none;
     color: gray;
}

a:hover{
     color:rgb(248, 252, 253);
     background-color: var(--secondary-color);
}

a:focus-visible{
    color :rgb(217, 255, 0);
}

label
{
display: block;
margin: 2rem;
}

.button{
     display:block;
     margin:1.5rem;
     background-color: var(--secondary-color);

}

#Contact{
     background-color: aquamarine;
     padding: var(--spacing-md);
     margin-top: 4rem;

}